.navbar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 60px;
    width: 100%;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: tomato;
    color: white;
}

.navbar h2 {
    margin-left: 20px;
}

.navbar p {
    padding: 10px 20px;
    background-color: dodgerblue;
    margin-right: 50px;
    border-radius: 20px;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}